PyQt5==5.15.10
PyQtWebEngine==5.15.6
requests==2.31.0
Pillow==10.1.0
opencv-python==4.8.1.78
numpy==1.24.3
python-decouple==3.8
onnxruntime-gpu==1.19.2
nvidia-cuda-runtime-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nvjitlink-cu12
